\node_modules
BetterReads/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
BetterReads/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
BetterReads/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
BetterReads/.metadata/.plugins/org.eclipse.m2e.core.ui/dialog_settings.xml
BetterReads/.metadata/.plugins/org.eclipse.m2e.core/nexus/029bcc859dff49bf7927d7abe87afd80/_0.cfs
BetterReads/.metadata/.plugins/org.eclipse.m2e.core/nexus/029bcc859dff49bf7927d7abe87afd80/_0_1.del
BetterReads/.metadata/.plugins/org.eclipse.m2e.core/nexus/029bcc859dff49bf7927d7abe87afd80/_1.cfs
BetterReads/.metadata/.plugins/org.eclipse.m2e.core/nexus/029bcc859dff49bf7927d7abe87afd80/_1_1.del
BetterReads/.metadata/.plugins/org.eclipse.m2e.core/nexus/029bcc859dff49bf7927d7abe87afd80/_2.cfs
BetterReads/.metadata/.plugins/org.eclipse.m2e.core/nexus/029bcc859dff49bf7927d7abe87afd80/segments.gen
BetterReads/.metadata/.plugins/org.eclipse.m2e.core/nexus/029bcc859dff49bf7927d7abe87afd80/segments_4
BetterReads/.metadata/.plugins/org.eclipse.m2e.core/nexus/029bcc859dff49bf7927d7abe87afd80/write.lock
BetterReads/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0.cfs
BetterReads/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0_1.del
BetterReads/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_1.cfs
BetterReads/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_1_1.del
BetterReads/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_2.cfs
