/* You can add global styles to this file, and also import other style files */
html {
    background-image: src=url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAw2K3to7zauIHbdgWBXxm3sd0aVCEIjDW6A&usqp=CAU')
}