<!-- <h1>this is media component</h1>
<p>media component's items has length:</p>
<p> {{items.length}}</p> -->

<!-- {{ item }} <br>. -->
<div class="card" *ngFor="let item of items">
    <p><b>Title:</b>  {{item.media.title}}</p>
    <p><b>Creator:</b>  {{item.media.creator}}</p>
    <p><b>Genre:</b>  {{item.media.genre.name}}</p>
    <app-rating-widget [loggedUser]="loggedUser"></app-rating-widget>
</div>


<!-- <ul>
  <li *ngFor="let item of users; index as i; first as isFirst">
    {{i}}/{{users.length}}. {{user}} <span *ngIf="isFirst">default</span>
  </li>  
</ul> -->