<!-- <h1>this is media component</h1>
<p>media component's items has length:</p>
<p> {{items.length}}</p> -->

<!-- {{ item }} <br>. -->


<div class="card">
  <!-- (click)=`\"removeShelfAssignment(${document.getElementById("mediaIdInput").value})"` -->
  <span (click)="addShelfAssignment()" title="Add an item to shelf." onmouseover="" style="cursor: pointer;"><fa-icon [icon]="faPlusSquare" size="3x"></fa-icon></span>
  <br>
  <label for="mediaIdInput">Media ID:</label> 
  <input type="number" id = "mediaIdInput" [(ngModel)]="addMediaId">
  <!-- <input id="user" name="user" type="text" [(ngModel)]="user" /> -->
</div>

<div class="card" *ngFor="let item of items">
  <span (click)="removeShelfAssignment(item)" title="Remove this item from shelf." onmouseover="" style="cursor: pointer;"><fa-icon [icon]="faTrash" size="lg"></fa-icon></span>
    <p><b>Title:</b>  {{item.media.title}}</p>
    <p><b>Creator:</b>  {{item.media.creator}}</p>
    <p><b>Genre:</b>  {{item.media.genre.name}}</p>
    <p><b>Shelf Assignment Id:</b>  {{item.id}}</p>
    <p><b>Logged user Id:</b>  {{loggedUser.id}}</p>
    
    <app-rating-widget [loggedUser]="loggedUser" [mediaId] = "item.media.id"></app-rating-widget>
</div>


<!-- <ul>
  <li *ngFor="let item of users; index as i; first as isFirst">
    {{i}}/{{users.length}}. {{user}} <span *ngIf="isFirst">default</span>
  </li>  
</ul> -->