<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- set up connection info -->
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://rev2011db1.coyq6ev33feq.us-east-2.rds.amazonaws.com:5432/postgres?currentSchema=better_reads</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">451984rev</property>
		
		<!-- hibernate setup -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="use_sql_comments">true</property>
		
		<!-- tell hibernate where to find our mappings -->
		<mapping class="dev.shrews.beans.Genre"></mapping>
		<mapping class="dev.shrews.beans.Review"></mapping>
		<mapping class="dev.shrews.beans.UserTag"></mapping>
		<mapping class="dev.shrews.beans.User"></mapping>
		<mapping class="dev.shrews.beans.Friendships"></mapping>
		<mapping class="dev.shrews.beans.Media"></mapping>
		<mapping class="dev.shrews.beans.Messages"></mapping>
		<mapping class="dev.shrews.beans.User_Media_Comments"></mapping>
		<mapping class="dev.shrews.beans.User_Review_Comments"></mapping>
		<mapping class="dev.shrews.beans.Shelf"></mapping>
		<mapping class="dev.shrews.beans.ShelfAssignment"></mapping>
		<mapping class="dev.shrews.beans.MediaType"></mapping>
		
		
	</session-factory>
</hibernate-configuration>