* { box-sizing: border-box; }

table {border-collapse: collapse; font-family: helvetica}
td, th {border:  1px solid;
  justify-content: center;
      min-width: 200px;
      background: white;
      box-sizing: border-box;
      text-align: left;
}


thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background: hsl(20, 50%, 70%);
}

thead th:first-child {
  left: 0;
  z-index: 3;
}


tr > :first-child {
  position: -webkit-sticky;
  position: sticky; 
  background: hsl(180, 50%, 70%);
  left: 0; 
}
tr > :first-child {
  box-shadow: inset 0px 1px black;
}



