div{
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5877e543-014c-4b8b-b6c2-37397c0c0c90/d2pqmow-c1c491ef-668d-4127-960e-a88292d88382.jpg/v1/fill/w_900,h_916,q_75,strp/seamless_metal_texture_smooth_by_hhh316_d2pqmow-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD05MTYiLCJwYXRoIjoiXC9mXC81ODc3ZTU0My0wMTRjLTRiOGItYjZjMi0zNzM5N2MwYzBjOTBcL2QycHFtb3ctYzFjNDkxZWYtNjY4ZC00MTI3LTk2MGUtYTg4MjkyZDg4MzgyLmpwZyIsIndpZHRoIjoiPD05MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.TzoV1UVzpMoRO4wnbbg_fVORYy8fonnFs3mMZC7YUT8");
}