<div>
    <a href="home"><strong>Better Reads</strong></a>
    <ng-container *ngIf="!loggedUser; else loggedIn">
        <form>
            <label for="user">Username: </label>
            <input id="user" name="user" type="text" [(ngModel)]="user" />
            <label for="pass"> Password: </label>
            <input id="pass" name="pass" type="password" [(ngModel)]="pass" />
            <button type="button" id="loginBtn" (click)="logIn()">Log In</button>
            <button type="button" id="registerBtn" (click)="signUp()">Sign Up!</button>
        </form>
    </ng-container>
    <ng-template #loggedIn>
        <span>
            <button type="button" id="loginBtn" (click)="logOut()">Log Out</button>
            <div class="collapse navbar-collapse">    
                <ul class="navbar-nav mr-auto">    
                  <li class="nav-item active">    
                    <a class="nav-link" routerLink="" routerLinkActive="active">Home</a>    
                  </li>    
                  <li class="nav-item">    
                    <a class="nav-link " routerLink="shelf" routerLinkActive="active">Shelf</a>    
                  </li>    
              </ul>    
            </div> 
        </span>
    </ng-template>
</div>>