* { box-sizing: border-box; }

tr {border-collapse: collapse; font-family: helvetica; display: flex; justify-content: center;}
div{
  background-image: url("https://mcdn.wallpapersafari.com/medium/78/20/ui50y6.png");
}
.field{
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

h2 {
  text-shadow: 2px 2px 5px grey;
  font-size: 30px;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-size: 30px;
}
td, th {border:  1px solid;
      padding: 10px;
      min-width: 200px;
      background: white;
      box-sizing: border-box;
      text-align: left;
}


textarea:hover {
    background-color: grayscale;
} 