<div>
<ng-container *ngIf="!searchActivated; else searchResults">
    <div>
        <label for="searchBar">Search: </label>
        <input type="text" id="searchBar" name="searchBar" [(ngModel)]="searchContent" />
        <button type="button" id="searchButton" (click)="search()">Search!</button>
    </div>
    <div>
        <label>
            <input type="radio" name="searchType" value="title" (click)="setType('title')" [checked]="true" ngModel />
            Title
        </label>
        <label>
            <input type="radio" name="searchType" value="author" (click)="setType('author')" ngModel />
            Author
        </label>
    </div>
</ng-container>
<ng-template #searchResults>
    <h2>Results:</h2>>

</ng-template>
</div>