div {
  background-image: url("https://mcdn.wallpapersafari.com/medium/78/20/ui50y6.png");
}

textarea {
  width: 30%
  height: 150px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
   display: block;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    display: flex;
  justify-content: center;
  text-decoration: underline;
  text-shadow: 2px 2px 5px grey;
  font-size: 30px;
}
textarea:hover {
    background-color: grayscale;
}