<div>
    <h3>Messages</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>Sender ID</th>
            <th></th>
            <th>Reply to</th>
        </tr>
        <tr *ngFor="let Message of Messages">
            <td>{{ Message.id}}</td>
        <!-- <td>{{ Comment.comment_date | json }}</td>-->
            <td>{{ Message.sender.id | json}}</td>
            <td>{{ Message.message }}</td>
            <!-- <td>{{ Message.parent | json}}</td> -->
        </tr>
    </table>
</div>
