* { box-sizing: border-box; }

table {border-collapse: collapse; font-family: helvetica;   margin-left:auto; 
    margin-right:auto;}
div{
  background-image: url("https://mcdn.wallpapersafari.com/medium/78/20/ui50y6.png");
}
td, th {border:  1px solid;
      padding: 10px;
      min-width: 200px;
      background: white;
      box-sizing: border-box;
      text-align: left;
}
h2 {
  text-shadow: 2px 2px 5px grey;
  font-size: 30px;
  text-decoration: underline;
  font-size: 30px;
    display: flex;
  justify-content: center;
}
thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background: hsl(20, 50%, 70%);
}

th:first-child {
  left: 0;
  z-index: 3;
}


tr > :first-child {
  position: -webkit-sticky;
  position: sticky; 
  background: hsl(180, 50%, 70%);
  left: 0; 
}
tr > :first-child {
  box-shadow: inset 0px 1px black;
}
